@model IEnumerable<sw1_Semana1.Models.Employeds>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("ObteneriD", "Employed", FormMethod.Post))
{
    <label for="employedId">Buscar por ID:</label>
    <input type="text" name="id" id="employedId" class="form-control" />
    <button type="submit" class="btn btn-primary">Buscar</button>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employe_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manager_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employe_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hire_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manager_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Accion_editar", new { id=item.employe_id  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Accion_eliminar", new { id=item.employe_id  })
            </td>
        </tr>
    }

</table>
