@model IEnumerable<sw1_Semana1.Models.Countries>

@{
    ViewBag.Title = "listarContries";
}

<h2>listarContries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.country_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.region_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.country_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.region_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
